<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <style>
    .blog
    {
      position:absolute;
			right:150px;
    }
    </style>
  </head>
  <body>
    
	 {{>nav}}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Stories</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    
	
		<section class="ftco-section bg-light">
			<div class="container">

      <div class="blog" >
        <button><a href='/addblog' alt='Broken Link'>Post Your Blog</a></button>
		  </div>
      <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Stories</span>
            <h2 class="mb-4">Blogs</h2>
          </div>
        </div>
				<div class="row">
        {{#blogs}}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="blog-single" class="block-20" style="background-image: url('images/{{image}}');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                <div class="meta">
                  <div><a href="#">{{date}}</a></div>
                  <div><a href="#">{{author}}</a></div>
                </div>
                <h3 class="heading"><a href="#">{{title}}</a></h3>
                <p class="clearfix">
                  <a href="#" class="float-left read">Read more</a>
                  <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
            </div>
          </div>
          {{/blogs}}
        </div>
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
			</div>
		</section>

   {{>footer}}
{{>scripts}}
    
  </body>
</html>