


<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #333745;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2C3D63;
}

div {
  border-radius: 5px;
  background-color: #D5CCCC;
  padding: 20px;
}
</style>
<body>

<div>

 <form action="/getdata" method="POST">
Enter Your Email:<input type="text" name="email" placeholder="Enter Your Email" required="">
<input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
</form>

</div>
</body>
</html>