


<!DOCTYPE html>
<html>
<head>
{{>head}}
 <style>
input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #333745;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.upmenu{
  border-radius: 5px;
  padding: 20px;
  
}
</style> 
</head>

<body>

 {{>nav}}

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            {{! <h1 class="mb-2 bread">Specialties</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Menu <i class="ion-ios-arrow-forward"></i></span></p> }}
          </div>
        </div>
      </div>
      </section>
	

		<section class="ftco-section">
    	{{! <div class="container"> }}


<div class="upmenu">

<h3>Enter Item Name Which You Want to update and delete</h3>

 <form action="/getmenudata" method="POST">
Enter Item Name: <input type="text" name="Iname" placeholder="Enter Item name" required="">
<input type="submit"  value="Update Item" class="btn btn-primary py-3 px-5">
<input type="submit" name="remove" value="Remove Item" class="btn btn-primary py-3 px-5">

</form>

</div>

{{! </div> }}
</section>
{{>footer}}
{{>scripts}}
</body>
</html>