<h3>{{viewQuotes}}</h3>

<form action="/quotes" method="POST" >
    Name: <input type="text" name="name" placeholder="Enter Your Name">
    Quote: <input type="text" name="quote" placeholder="Enter Quotes">
    <button type="submit">Submit</button>
    <a href="/quotes/list">View All</a>
</form> 