 <form action="/update" method="POST">
            {{#reservation}}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Your Name" value={{name}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Your Email" value={{email}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone" value={{phone}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Date</label>
                    <input type="text" class="form-control" name="date" id="book_date" placeholder="Date" value={{date}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Time</label>
                    <input type="text" class="form-control" id="book_time" name="time" placeholder="Time" value={{time}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Person</label>
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select  id="" class="form-control"  name="person" value={{person}}>
                        <option value="">Person</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                  </div>
                  <div class="form-group">
                    <input type="submit" name="cancel" value="Cancel Reservation" class="btn btn-primary py-3 px-5">
                    {{! <a href='`/delete/${}`'>Cancel Reservation </a> }}
                  </div>
                </div>
              </div>
            {{/reservation}}
            </form>