
<!DOCTYPE html>
<html>
<head>
   {{>head}}
<style>
body{
  
  
	align-items: center;
  }
input[type=text]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.select{
   width: 25%;
  padding: 13px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;

}


.update{
  border-radius: 5px;
  padding: 20px;
  color:white;
  background-image: url('images/insta-1.jpg');
  opacity:0.9;
  text-shadow: 1px 1px 0px #2C3D63;
  
}
</style>
</head>
<body>
{{>nav}}

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            {{! <h1 class="mb-2 bread">Specialties</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Menu <i class="ion-ios-arrow-forward"></i></span></p> }}
          </div>
        </div>
      </div>
      </section>
	

<section class="ftco-section">
    	<div class="container">


<div class="update">
 <form action="/update" method="POST">
           <center> <h3>Modify Your Reservation</h3>
            {{#reservation}}
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Your Name" value={{name}}><br>
                  
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Your Email" value={{email}}><br>
                  
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone" value={{phone}}><br>
                  
                    <label for="">Date</label>
                    <input type="text" class="form-control" name="date" id="book_date" placeholder="Date" value={{date}}><br>
                  
                    <label for="">Time</label>
                    <input type="text" class="form-control" id="book_time" name="time" placeholder="Time" value={{time}}><br>
                 
                    <label for="">Person</label>
                      {{! <div class="icon"><span class="ion-ios-arrow-down"></span></div> }}
                      <select  id="" class="select"  name="person">
                        <option value="">Person</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5+</option>
                      </select><br>
               
                    <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                 
                 
                    {{! <a href='`/delete/${}`'>Cancel Reservation </a> }}
                {{/reservation}}
                </center>
  </div>
 </form>
 </div>
 </section>
 {{>footer}}
 {{>scripts}}

 </body>
 </html>